{% extends "basearq/index.html" %}
{% load static %}

{% block imagendefondo %}
        
<header class="masthead" style="background-image: url('{% static 'assets/img/fondoHOME.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">

{% endblock imagendefondo %}

{% block titulo %}

<h1>Ingresa a la pagina</h1>
<span class="subheading">Las obras iconicas de la arquitectura Argentina</span>

{% endblock titulo %}


{% block contenido %}

        <form action="" method="post" class="container mt-5">
            {% csrf_token %}
            
            <div class="card shadow p-4">
                <h4 class="mb-4 text-center">Ingresa</h4>

                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Ingresa
                    </button>
                </div>
            </div>
        </form>


{% endblock contenido %}

