{% extends "basearq/index.html" %}
{% load static %}

{% block imagendefondo %}
        
<header class="masthead" style="background-image: url('{% static 'assets/img/PaginaEnConstruccion.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">

{% endblock imagendefondo %}

{% block titulo %}

<h1>En breve estara disponible</h1>
<span class="subheading">Disculpa las molestias, te invitamos a seguir recorriendo esta pagina</span>

{% endblock titulo %}


{% block contenido %}





{% endblock contenido %}